/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
.nav-link {
  color: #ffffff;
}

.font-size-11 {
  font-size: 11px;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-13 {
  font-size: 13px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-15 {
  font-size: 15px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-17 {
  font-size: 17px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-19 {
  font-size: 19px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-21 {
  font-size: 21px;
}
.font-size-22 {
  font-size: 22px;
}
.font-size-23 {
  font-size: 23px;
}
.font-size-24 {
  font-size: 24px;
}
.font-size-25 {
  font-size: 25px;
}
.font-size-26 {
  font-size: 26px;
}
.font-size-30 {
  font-size: 30px;
}
.font-size-35 {
  font-size: 35px;
}
.font-size-40 {
  font-size: 40px;
}
.font-size-55 {
  font-size: 55px;
}
@media (min-width: 992px) {
  .font-size-lg-11 {
    font-size: 11px;
  }
  .font-size-lg-12 {
    font-size: 12px;
  }
  .font-size-lg-13 {
    font-size: 13px;
  }
  .font-size-lg-14 {
    font-size: 14px;
  }
  .font-size-lg-14 {
    font-size: 14px;
  }
  .font-size-lg-15 {
    font-size: 15px;
  }
  .font-size-lg-16 {
    font-size: 16px;
  }
  .font-size-lg-17 {
    font-size: 17px;
  }
  .font-size-lg-18 {
    font-size: 18px;
  }
  .font-size-lg-19 {
    font-size: 19px;
  }
  .font-size-lg-20 {
    font-size: 20px;
  }
  .font-size-lg-21 {
    font-size: 21px;
  }
  .font-size-lg-22 {
    font-size: 22px;
  }
  .font-size-lg-23 {
    font-size: 23px;
  }
  .font-size-lg-24 {
    font-size: 24px;
  }
  .font-size-lg-25 {
    font-size: 25px;
  }
  .font-size-lg-26 {
    font-size: 26px;
  }
  .font-size-lg-30 {
    font-size: 30px;
  }
  .font-size-lg-40 {
    font-size: 40px;
  }
  .font-size-lg-45 {
    font-size: 45px;
  }
  .font-size-lg-50 {
    font-size: 50px;
  }
  .font-size-lg-55 {
    font-size: 55px;
  }
}

.bolder {
  font-weight: 500;
}
