.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.radius {
  border-radius: 10px;
}

input {
  &.ng-touched.ng-invalid {
    border-bottom: solid 5px red !important;
  }
}

select {
  &.ng-touched.ng-invalid {
    border-bottom: solid 5px red !important;
  }
}

textarea {
  &.ng-touched.ng-invalid {
    border-bottom: solid 5px red !important;
  }
}
